/*VARIABLES*/

:root {
  /*COLORS*/
  --main-color: #f16539;
  --nav-color-hover: #f1ecd6;
  --body-color: #e6e6e6;
  --black-color: #1a1a1a;
  --text-grey-color: #868e96;
  --grey-color: #343a40;

  /*DURATIONS*/
  --transition-duration: 0.8s ease-out;

  /*PX*/
  --header-width: 270px;
  --section-width: calc(100vw - var(--header-width));
  --height: 100vh;
  --mp-top: 115px;
}
/*FONTS*/
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("../fonts/Rubik-Bold.ttf");
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a:focus {
  outline: none;
}
section {
  width: var(--section-width);
  height: var(--height);
  padding: var(--mp-top) 0 0 35px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  font-size: 1rem; /*16px*/
}
.wrapper {
  display: flex;
  background-color: var(--body-color);
  position: relative;
}
h1 {
  font-size: 4.75rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h2,
h3 {
  color: var(--grey-color);
}
/*HEADER*/
header {
  background-color: var(--main-color);
  width: var(--header-width);
  height: var(--height);
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
}
.logo-header {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border: 10px solid var(--black-color);
  border-radius: 50%;
}
/*NAV*/
.nav-header {
  font-size: 1.875rem;
  margin-top: 60px;
  text-align: center;
}
.nav-header__list {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}
.nav-header__item {
  line-height: 150%;
  color: var(--black-color);
  transition: var(--transition-duration), font-size 0s;
}
.nav-header__item:hover,
.active {
  cursor: pointer;
  color: var(--nav-color-hover);
}
/*region*/
.region {
  position: absolute;
  z-index: 99;
  top: 5vh;
  right: 15vw;
}
.region__list {
  display: flex;
}
.region__item:last-child {
  margin-left: 50px;
}
.region img {
  height: 30px;
  border-radius: 5px;
}
/*mouse*/
.mouse {
  width: 40px;
  height: 70px;
  background-color: #eae3df;
  border: 5px solid #757373;
  border-radius: 25px;
  position: absolute;
  content: "";
  left: calc(var(--header-width) + var(--section-width) * 0.5 - 20px);
  bottom: 4vh;
  z-index: 5;
}
.scroll-wrapper {
  position: relative;
  height: 20px;
  animation: whell 3s infinite;
}
.scroll {
  position: absolute;
  content: "";
  width: 6px;
  height: 100%;
  top: 5px;
  left: calc(50% - 3px);
  background-color: #757373;
  border-radius: 3px;
}

/*scroll-animation*/
@keyframes whell {
  0% {
    margin-top: 0;
    height: 6px;
  }
  40% {
    margin-top: 0;
    height: 20px;
  }
  55% {
    margin-top: 18px;
    height: 6px;
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    margin-top: 18px;
    height: 6px;
    opacity: 0;
  }
}

.main {
  width: var(--section-width);
  height: var(--height);
  position: relative;
}
/*ABOUT*/
.about {
}
.about__info,
.social-about {
  margin-top: var(--mp-top);
}
.about__hi {
  font-weight: bold;
  color: var(--text-grey-color);
}
.about__name,
.about__title,
.social-about__title {
  color: var(--grey-color);
}
.about__surname {
  color: var(--main-color);
}
.about__text {
  margin-top: 100px;
  color: var(--text-grey-color);
  font-size: 1.875rem;
}
.body-social {
  max-width: 340px;
  margin-top: 30px;
}
.body-social__list {
  display: flex;
  justify-content: space-between;
}
.body-social__item {
  width: 60px;
}
.body-social__img {
  border-radius: 100%;
  transition: 0.4s;
}
/*WORKS*/
.works {
  height: 100%;
}
.works img {
  height: 62vh;
}
.slide-work {
  height: 50vh;
  width: 66vw;
  margin: 0 auto;
}
.slide-work__item {
  margin: 50px auto 0 auto;
  height: 45vh;
  cursor: pointer;
}
.slide-work__item:hover {
  background-position-y: 100%;
}
.slide-1 {
  background: url("/assets/images/works/1.jpg") center top;
  transition: 10s;
}
.slide-2 {
  background: url("/assets/images/works/2.jpg") center top;
  transition: 30s;
}
.slide-3 {
  background: url("/assets/images/works/3.jpg") center top;
  transition: 30s;
}
.slide-4 {
  background: url("/assets/images/works/4.jpg") center top;
  transition: 10s;
}
.slide-work_nav {
  margin-top: 50px;
  height: 14vh;
}
.slide-work_nav .slick-slide {
  width: 300px !important;
}
.slide-work_nav .slick-track {
  display: flex;
  justify-content: space-between;
}
.slide-work_nav .slick-list {
  height: inherit;
}
.slide-work_nav img {
  height: 100%;
  border: 1px solid var(--main-color);
}

/*CONTACTS*/
.contacts {
}
/*SLIDER*/
.slick-slider {
  user-select: text !important;
}
.slick-list {
  height: var(--height);
}
.slick-slide {
  outline: none;
}
/*FORM*/
form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 100px auto 0 auto;
}
input[type="email"] {
  padding: 10px 50px 10px 10px;
  max-width: 30%;
}
textarea {
  resize: none;
  font-size: 17px;
  padding: 10px;
  color: var(--text-grey-color);
}
input[type="email"],
input[type="submit"],
textarea {
  font-family: Rubik;
  font-weight: bold;
  outline-color: var(--main-color);
  margin-top: 20px;
}
input[type="submit"] {
  max-width: 50%;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid rgb(118, 118, 118);
  transition: var(--transition-duration);
  text-transform: uppercase;
}
input[type="submit"]:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

@media screen and (max-width: 375px){
  .wrapper{
    flex-direction: column;
  }
  header{
    width: 100vw;
  }
  .region{
    right: 5vw;
  }
  .region__item:last-child{
    margin-left: 25px;  
  }
  main.main,
  .mouse{
    display: none;
  }
  .mobile{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 25px;
  }
  .mobile__works{
    border: 5px solid var(--main-color);
    border-radius: 20px;
  }
  .mobile__works:nth-child(1){
    background: url('../images/works/preview1.png');
  }
  .mobile__works:nth-child(2){
    background: url('../images/works/preview2.png');
  }
  .mobile__works:nth-child(3){
    background: url('../images/works/preview3.png');
  }
  .mobile__works:nth-child(4){
    background: url('../images/works/preview4.png');
  }
}